<label for="username" class="sr-only">Username</label>
<input id="username" class="form-control" [(ngModel)]="username">
<p><button id="clear-username" class="btn btn-primary" [disabled]="isEmpty()" (click)="reset()">Clear</button></p>
<p>{{ username }}</p>
