<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onStartCounter()" [disabled]="!stopButtonDisabled" >Start Game</button><button class="btn btn-secondary" (click)="onStopCounter()" [disabled]="stopButtonDisabled">Stop Game</button>
  </div>
</div>
