.container {
  margin-top: 30px;
}

input.ng-invalid.ng-touched {
  border: solid 1px red;
}

@keyframes blinker {
  50% {
    background: mistyrose;
    opacity: 0;
  }
}

input.ng-pending {
  animation: blinker 1s linear infinite;
}
