<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-active-users></app-active-users>
      <app-inactive-users></app-inactive-users>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p *ngIf="counterService.activeCount">Active count: {{counterService.activeCount}}</p>
      <p *ngIf="counterService.inActiveCount">InActive count: {{counterService.inActiveCount}}</p>
    </div>
  </div>
</div>
