<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(data)" #data="ngForm">
        <div class="form-group">
          <label for="email">Mail</label>
          <input
            id="email"
            type="email"
            class="form-control"
            ngModel
            name="email"
            required
            email
            #val_email="ngModel">
          <span
            class="help-block"
            *ngIf="!val_email.valid && val_email.touched">
            Please enter a valid email address!</span>
        </div>
        <div class="form-group">
          <label for="subscription">Subscription</label>
          <select
            id="subscription"
            class="form-control"
            [ngModel]="defaultSubscription"
            name="subscription">
            <option>Basic</option>
            <option>Advanced</option>
            <option>Pro</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            class="form-control"
            ngModel
            name="password"
            required
            #val_password="ngModel">
          <span
            class="help-block"
            *ngIf="!val_password.valid && val_password.touched">
            Please enter a password!</span>
        </div>
        <span
          class="help-block"
          *ngIf="!data.valid && val_email.touched && val_password.touched">
            Please enter correct values!</span>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!data.valid">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your data:</h3>
      <p>Email address: {{ email }}</p>
      <p>Subscription: {{ subscription }}</p>
      <p>Password: {{ password }}</p>
    </div>
  </div>
</div>
