<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="projectStatusForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="projectname">Project Name</label>
          <input type="text" class="form-control" id="projectname" formControlName="projectname">
        </div>
        <span class="help-block" *ngIf="projectStatusForm.get('projectname').invalid && (projectStatusForm.get('projectname').dirty || projectStatusForm.get('projectname').touched)">
          <span *ngIf="projectStatusForm.get('projectname').errors['forbiddenProjectName']">This project name is not allowed!</span>
          <span *ngIf="projectStatusForm.get('projectname').errors['required']">A project name is required!</span>
          <span *ngIf="projectStatusForm.get('projectname').errors['projectNameTaken']">This project name is already taken!</span>
        </span>
        <div class="form-group">
          <label for="email">Mail</label>
          <input type="text" class="form-control" id="email" formControlName="email">
        </div>
        <span class="help-block" *ngIf="projectStatusForm.get('email').invalid && (projectStatusForm.get('email').dirty || projectStatusForm.get('email').touched)">Please enter a valid entry!</span>
        <div class="form-group">
          <label for="projectstatus">Project Status</label>
          <select id="projectstatus" class="form-control" formControlName="status">
            <option value="stable">Stable</option>
            <option value="critical">Critical</option>
            <option value="finished">Finished</option>
          </select>
        </div>
        <span class="help-block" *ngIf="projectStatusForm.invalid && (projectStatusForm.dirty || projectStatusForm.touched)">A value is not correctly entered!</span>
        <button class="btn btn-primary" type="submit" [disabled]="!projectStatusForm.valid">Button</button>
      </form>
    </div>
  </div>
</div>
