<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let odd of oddNumbers"
            [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}"
            [ngClass]="{odd: odd % 2 !== 0 }">
            {{ odd }}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let even of evenNumbers"
            [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
            [ngClass]="{odd: even % 2 !== 0 }">
            {{ even }}
          </li>
        </div>
        <!-- is equal to -->
        <ng-template [ngIf]="!onlyOdd">
          <div>
            <ng-template ngFor let-even   [ngForOf]="evenNumbers">
              <li
                class="list-group-item"
                [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
                [ngClass]="{odd: even % 2 !== 0 }">
                {{ even }}
              </li>
            </ng-template>
          </div>
        </ng-template>
        <!-- is equal to, but with own implemented-->
        <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let even of evenNumbers"
            [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
            [ngClass]="{odd: even % 2 !== 0 }">
            {{ even }}
          </li>
        </div>
      </ul>
      <p appBasicHighlight>Style me with my directive</p>
      <p [appBetterHighlight]="'red'" [defaultColor]="'yellow'">Style me with my directive</p>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchCase="100">Value is 100</p>
        <p *ngSwitchDefault>Value is Default</p>
      </div>
    </div>
  </div>
</div>
