<button (click)="onClick()">Display Details</button>
<p *ngIf="isVisible()">
  display-details works!
</p>
<p *ngFor="let timestamp of timestamps"
   [ngStyle]="{ backgroundColor: getColor(timestamp) }"
   [ngClass]="{ after5th: isAfter5th(timestamp) }">{{ getTimeString(timestamp) }}</p>
